* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    min-height: 100vh;
    background-color: #1E1E1E;
    color: #eee;
    overflow-x: hidden;
}
li {
    list-style: none
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.header {
    padding: 1rem 0;
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 2rem;
}
.header .container {
    align-items: center
}
.logo-img {
    width: 2rem;
    height: 2rem;
}
.heading {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 300;
}
.guitar-neck {
    margin-bottom: 2rem;
}
.string {
    width: 100%;
}
.frets {
    width: 100%;
}
.note {
    width: 4rem;
    height: 1.5rem;
    background-color: #252526;
    margin: 1px 2px;
    display: grid;
    place-items: center center;
    font-size: 12px;
    color: #777;
    cursor: pointer;
    transition: .2s;
}
.note:hover {
    background-color: #323233;
}
.note.pushed {
    background-color: #4a954a;
    color: #eee
}
.note.open {
    background-color: #42A5F5;
    color: #eee
}
.basic-chords-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}